<!-- <mat-toolbar>
  <span>Boutique del Automotor</span>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="/turnos">Turnos</a>
  <a mat-tab-link routerLink="/servicios">Servicios</a>
  <a mat-tab-link routerLink="/clientes">Clientes</a>
  <a mat-tab-link routerLink="/vehiculos">Vehiculos</a>
</nav> -->
<mat-toolbar>
  <span>Boutique del Automotor</span>
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    routerLink="/turnos"
    routerLinkActive
    #rla1="routerLinkActive"
    [active]="rla1.isActive"
  >
    <mat-icon>home</mat-icon>
    <span>Turnos</span>
  </a>

  <a
    mat-tab-link
    routerLink="/servicios"
    routerLinkActive
    #rla2="routerLinkActive"
    [active]="rla2.isActive"
  >
    <mat-icon>settings</mat-icon>
    <span>Servicios</span>
  </a>

  <a
    mat-tab-link
    routerLink="/clientes"
    routerLinkActive
    #rla3="routerLinkActive"
    [active]="rla3.isActive"
  >
    <mat-icon>people</mat-icon>
    <span>Clientes</span>
  </a>

  <a
    mat-tab-link
    routerLink="/vehiculos"
    routerLinkActive
    #rla4="routerLinkActive"
    [active]="rla4.isActive"
  >
    <mat-icon>directions_car</mat-icon>
    <span>Vehículos</span>
  </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
